.sidebar {
  background: var(--clr-theme);
  width: 100%;
  height: 100%;
  color: white;
}

.logo-section {
  margin: auto;
  padding-block: 2rem;
}

.sidebar-item {
  display: flex;
  padding: 0.8rem;
  align-items: center;
  /* color: var(--clr-theme); */
  color: white;
}

.sidebar-item:hover {
  color: var(--clr-theme);
}

.sidebar-content:hover {
  background-color: #fff;
  cursor: pointer;
}

.sidebar-title {
  font-size: 19px;
  padding-left: 0.5rem;
}

/* Hidden sidebar */

.sidebar-title-hide {
  display: none;
}

.logo-section-hide {
  padding-top: 5.5rem;
}

.collapsed-logo {
  transition: all 0.3s ease-in-out;;
}